*{
    margin: 0;
    padding: 0;
    user-select: none;
    color: var(--fontColor);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg);
}


.line{
    color: var(--fontColor);
    font-family: Fjalla One, Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin: 0 auto;
    border-right: 5px solid green;
    white-space: nowrap;
    overflow: hidden;
}

.line:root{
  color: var(--fontColor)
}

.typing-animation{
    animation: blinkCursor 1500ms steps(40) infinite normal, 
    typing 4s steps(40) 1s normal both;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 8em;
    }
}

@keyframes blinkCursor{
    from{
        border-right-color: var(--fontColor);
    }
    to{
        border-right-color: transparent;
    }
}

.input-box {
    width: 450px;
  }

  .input-box h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .input-box input  {
    position: relative;
    height: 60px;
    width: 100%;
    background: rgb(58, 57, 57);
    border: none;
    border-radius: 8px;
    color: var(--fontColor);
    margin: 15px 0 20px;
    outline: none;
    font-size: 24px;
    padding: 0 20px;
    letter-spacing: 2px;
  }

  .input-box input::placeholder {
    letter-spacing: 0;
  }

  .input-box #btn:root{
    position: relative;
    background: gray;
    color: var(--fontColor);
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
  }

  .light-theme{
    color: #000000;
    background: #00FF00;
}

:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

body{
    background: var(--bg);
}


.light-theme{
    --bg:  var(--green);
    --fontColor: var(--black);
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
}

.btn2{
    width: 80px;
    margin: top ;
    height: 45px;
    border: none;
    cursor: pointer;
    background-color: var(--bg);
    color: var(--fontColor);
    font-family: Fjalla One;
}


.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);

}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}